@model IEnumerable<TelephoneDirectory.Entities.Department>

@{
    ViewBag.Title = "List";
}

<p>
    @Html.ActionLink("Yeni", "Index")
</p>
<table class="table table-dark table-hover ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentDescription)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Index", new { id=item.DepartmentId }) |
            @Html.ActionLink("Detay", "Details", new { id=item.DepartmentId }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.DepartmentId })
        </td>
    </tr>
}

</table>
